h1 {
  font-family: monospace;
  text-align: center;
}

h2 {
  font-family: monospace;
}

p#subhead {
  font-size: 10pt;
  font-family: monospace;
  text-align: center;
}

p#copy {
  text-align: center;
  font-size: 8pt;
}

p {
  font-family: sans-serif;
}

ul.a {
    list-style-type: circle;
}

p.listhead {
  font-weight: bold;
  font-size: 11pt;
}
